<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

</body>
</html>

{% extends 'base.html' %}
{% load static %}

{% block title %}
    404
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/main.js' %}" async defer></script>
{% endblock %}

{% block container %}

    <h3 class="text-center">Oops ... </h3>
<br>
<img src="{% static 'images/error.jpg' %}" class="img-fluid" alt="Responsive image">
<br>
<br>

{% endblock %}