{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    Beer Project
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/main.js' %}" async defer></script>
{% endblock %}

{% block container %}

<div class="col d-flex justify-content-end mb-2">
     <div class="col noPadding"><h2 class="color-header text-uppercase">Add new beer image</h2></div>
      <input type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="Powrót" onClick="history.back();" />
</div>
    <br>
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form|crispy }}
        <button type="file">Add beer image</button>
    </form>

{% if image %}
  <h3>Succesfully uploaded : {{image.image}}</h3>
  <img src="{{ image.image.url}}" alt="connect" style="max-height:300px">
{% endif %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

{% block aside %}

{% endblock %}