<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beer Project</title>
</head>
<body>

</body>
</html>

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Beer Project
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/main.js' %}" async defer></script>
{% endblock %}

{% block container %}
<tr>
    <td><h2>Beer Specification</h2></td>
    <td><a class="btn btn-sm btn-success" href="{% url 'beerproject:new_project' %}">Add new component</a></td>
    <td><a class="btn btn-sm btn-warning" href="{% url 'beerproject:update_project_beer' beer.id %}">Update</a></td>
    <td><a class="btn btn-sm btn-danger" href="{% url 'beerproject:delete_project_beer' beer.id %}">Delete</a></td>
    <br>
</tr>
    <br>
    <strong>Brew: </strong>
    {{ beer.brew }}
    <br>
    <strong>Name: </strong>
    {{ beer.name }}
    <br>
    <strong>Style: </strong>
    {{ beer.tagline }}
    <br>
    <strong>First Brewed in: </strong>
    {{ beer.created_date }}
    <br>
    <strong>Last update in: </strong>
    {{ beer.updated_date }}
    <br>
    <strong>Description: </strong>
    {{ beer.description }}
    <br>
    <br>
    <table class="table">
      <caption>PARAMETERS</caption>
      <thead>
        <tr>
          <th scope="col">BLG Start</th>
          <th scope="col">BLG Finish</th>
          <th scope="col">ABV</th>
          <th scope="col">IBU</th>
          <th scope="col">EBC</th>
          <th scope="col">PH</th>
          <th scope="col">Alcohol</th>
          <th scope="col">Attenuation level</th>
          <th scope="col">Beer volume</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ beer.og }}</td>
          <td>{{ beer.fg }}</td>
          <td>{{ beer.abv }}</td>
          <td>{{ beer.ibu }}</td>
          <td>{{ beer.ebc }}</td>
          <td>{{ beer.ph }}</td>
          <td>{{ beer.alc }}</td>
          <td>{{ beer.attenuation_level }} %</td>
          <td>{{ beer.beer_volume }} {{ beer.unit }}</td>
        </tr>
      </tbody>
    </table>
    <br>

    <h2>Brewing</h2>
    <br>


    <strong>Water boil volume: </strong>
<table class="table">
      <caption>Malt Parameters</caption>
      <thead>
        <tr>
          <th scope="col">Value</th>
          <th scope="col">Unit</th>
          <th scope="col">Substance</th>
        </tr>
      </thead>
    {% for i in boil %}
      <tbody>
        <tr>
          <td>{{ i.value }}</td>
          <td>{{ i.unit }}</td>
          <td>{{ i.substance }}</td>
          <td><a class="btn btn-sm btn-warning" href="{% url 'beerproject:update_boil' i.id %}">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'beerproject:delete_boil' i.id %}">Delete</a></td>
        </tr>
      </tbody>
    {% endfor %}
    </table>


    <br>
    <br>
    <br>
    <h4>Ingredients: </h4> <br>
    <strong>Malt: </strong> <br>
<table class="table">
      <caption>Malt Parameters</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Concern</th>
          <th scope="col">Value</th>
          <th scope="col">Unit</th>
          <th scope="col">Sequence</th>
          <th scope="col">Sequence Time</th>
          <th scope="col">EBC</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
    {% for i in ing_malt %}
      <tbody>
        <tr>
          <td><strong><a href="#ingredient_{{ i.id }}"></a>{{ i.name }}</strong></td>
          <td>{{ i.concern }}</td>
          <td>{{ i.value }}</td>
          <td>{{ i.unit }}</td>
          <td>{{ i.sequence }}</td>
          <td>{{ i.sequence_unit }}</td>
          <td>{{ i.ebc }}</td>
          <td>{{ i.description }}</td>
          <td><a class="btn btn-sm btn-warning" href="{% url 'beerproject:update_ingredient' i.id %}">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'beerproject:delete_ingredient' i.id %}">Delete</a></td>
        </tr>
      </tbody>
    {% endfor %}
    </table>


<strong>Hops: </strong>
<table class="table">
      <caption>Hops Parameters</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
          <th scope="col">Unit</th>
          <th scope="col">Sequence</th>
          <th scope="col">Sequence Time</th>
          <th scope="col">Purpose</th>
          <th scope="col">Alfa Acid</th>
          <th scope="col">Country</th>
        </tr>
      </thead>
    <br>
    {% for i in ing_hop %}
      <tbody>
        <tr>
          <td><strong>{{ i.name }}</strong></td>
          <td>{{ i.value }}</td>
          <td>{{ i.unit }}</td>
          <td>{{ i.sequence }}</td>
          <td>{{ i.sequence_unit }}</td>
          <td>{{ i.purpose }}</td>
          <td>{{ i.aac }}</td>
          <td>{{ i.country }}</td>
          <td><a class="btn btn-sm btn-warning" href="{% url 'beerproject:update_ingredient' i.id %}">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'beerproject:delete_ingredient' i.id %}">Delete</a></td>
        </tr>
      </tbody>
    {% endfor %}
    </table>
<br>

<strong>Other: </strong> <br>
<table class="table">
      <caption>Other Parameters</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
          <th scope="col">Unit</th>
          <th scope="col">Sequence</th>
          <th scope="col">Sequence Time</th>
        </tr>
      </thead>
    {% for i in ing_other %}
      <tbody>
        <tr>
          <td><strong>{{ i.name }}</strong></td>
          <td>{{ i.value }}</td>
          <td>{{ i.unit }}</td>
          <td>{{ i.sequence }}</td>
          <td>{{ i.sequence_unit }}</td>
          <td><a class="btn btn-sm btn-warning" href="{% url 'beerproject:update_ingredient' i.id %}">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'beerproject:delete_ingredient' i.id %}">Delete</a></td>
        </tr>
      </tbody>
    {% endfor %}
    </table>

<br>

<strong>Yeast: </strong> <br>
<table class="table">
      <caption>Yeast Parameters</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
          <th scope="col">Unit</th>
          <th scope="col">Description</th>

        </tr>
      </thead>
    {% for i in ing_yeast %}
      <tbody>
        <tr>
          <td><strong>{{ i.name }}</strong></td>
          <td>{{ i.value }}</td>
          <td>{{ i.unit }}</td>
          <td>{{ i.description }}</td>
          <td><a class="btn btn-sm btn-warning" href="{% url 'beerproject:update_ingredient' i.id %}">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'beerproject:delete_ingredient' i.id %}">Delete</a></td>
        </tr>
      </tbody>
    {% endfor %}
</table>
<br>
<br>
<br>

<h4>Method: </h4> <br>

<strong>Mash Temp: </strong> <br>
<table class="table">
      <caption>Mash Parameters</caption>
      <thead>
        <tr>
          <th scope="col">Temperature</th>
          <th scope="col">Unit</th>
          <th scope="col">Sequence</th>
          <th scope="col">Duration</th>

        </tr>
      </thead>
    {% for i in mash_temp %}
      <tbody>
        <tr>
          <td>{{ i.value_temperature }}</td>
          <td>{{ i.unit }}</td>
          <td>{{ i.sequence }}</td>
          <td>{{ i.duration }} min </td>
          <td><a class="btn btn-sm btn-warning" href="{% url 'beerproject:update_mashtemp' i.id %}">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'beerproject:delete_mashtemp' i.id %}">Delete</a></td>
        </tr>
      </tbody>
    {% endfor %}
</table>



<strong>Fermentation: </strong> <br>
<table class="table">
      <caption>Fermentation Parameters</caption>
      <thead>
        <tr>
          <th scope="col">Temperature</th>
          <th scope="col">Unit</th>
          <th scope="col">Sequence</th>
          <th scope="col">Duration</th>

        </tr>
      </thead>
    {% for i in fermentation %}
      <tbody>
        <tr>
          <td>{{ i.value_temperature }}</td>
          <td>{{ i.unit }}</td>
          <td>{{ i.sequence }}</td>
          <td>{{ i.duration }} days </td>
          <td><a class="btn btn-sm btn-warning" href="{% url 'beerproject:update_fermentation' i.id %}">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'beerproject:delete_fermentation' i.id %}">Delete</a></td>
        </tr>
      </tbody>
    {% endfor %}
</table>
    <br>
    <br>
{% endblock %}

{% block aside %}
{% for i in image %}
    <img src="{{ i.image.url }}" class="card-img-top" alt="{{ i.image }}">
{% endfor %}
<table class="table">
      <caption>Image actions</caption>
    {% for i in image %}
      <tbody>
        <tr>
          <td><a class="btn btn-sm btn-warning" href="{% url 'beerproject:update_image' i.id %}">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'beerproject:delete_image' i.id %}">Delete</a></td>
        </tr>
      </tbody>
    {% endfor %}
</table>
<br>
<br>
{% endblock %}