<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/main.js' %}" async defer></script>
{% endblock %}

{% block container %}
<div class="row border-bottom border-3 p-1 m-1">
    <div class="col noPadding"><h2 class="color-header text-uppercase">My Beer Projects</h2></div>
        <div class="col noPadding d-flex justify-content-end mb-2"><a href="{% url 'beerproject:new_project_beer' %}"
            class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Add new beer project</a></div>
    <div class="col noPadding d-flex justify-content-end mb-2"><a href="{% url 'beerproject:new_project' %}"
            class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Add new components</a></div>
</div>

    <br>

<table class="table table-sm">
    {% for i in beer  %}
<tr>
    <td><strong>{{ i.name }}</strong></td>
    <td><a class="btn btn-sm btn-info" href="{% url 'beerproject:project' i.id %}">Details</a></td>
    <td><a class="btn btn-sm btn-info" href="{% url 'beerproject:update_project_beer' i.id %}">Update</a></td>
    <td><a class="btn btn-sm btn-info" href="{% url 'beerproject:project' i.id %}">Delete</a></td>
    <br>
</tr>
    {% endfor %}
</table>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}

{% block aside %}
{% endblock %}