<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beer Project</title>
</head>
<body>

</body>
</html>

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Beer Project
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/main.js' %}" async defer></script>
{% endblock %}

{% block container %}
<tr>
    <td><h1>My Beer Projects</h1></td>
    <td><a class="btn btn-sm btn-success" href="{% url 'beerproject:new_project_beer' %}">Add new beer project</a></td>
    <td><a class="btn btn-sm btn-success" href="{% url 'beerproject:new_project' %}">Add new components</a></td>
</tr>

    <br>

<table class="table table-sm">
    {% for i in beer  %}
<tr>
    <td><strong>{{ i.name }}</strong></td>
    <td><a class="btn btn-sm btn-info" href="{% url 'beerproject:project' i.id %}">Details</a></td>
    <td><a class="btn btn-sm btn-warning" href="{% url 'beerproject:update_project_beer' i.id %}">Update</a></td>
    <td><a class="btn btn-sm btn-danger" href="{% url 'beerproject:delete_project_beer' i.id %}">Delete</a></td>
    <br>
</tr>
    {% endfor %}
</table>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}

{% block aside %}
{% endblock %}