<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Punk API</title>
</head>
<body>

</body>
</html>

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/main.js' %}" async defer></script>
{% endblock %}

{% block container %}
    <h1>Type of Punk Beers</h1>
    <br>
    {% for i in response  %}
    <li class="page-item"><a class="page-link" href="{% url 'punkapi:type' i.id %}">{{ i.tagline }}</a></li>
    <br>
    {% endfor %}
    <br>
    <br>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="{% url 'punkapi:beers_type_page2' %}">Previous</a>
            <li class="page-item"><a class="page-link" href="{% url 'punkapi:beers_type' %}">1</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'punkapi:beers_type_page2' %}">2</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'punkapi:beers_type_page3' %}">3</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'punkapi:beers_type_page4' %}">4</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'punkapi:beers_type_page5' %}">5</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'punkapi:beers_type_page4' %}">Next</a>
                    <br>
            </li>
          </ul>
        </nav>
{% endblock %}

{% block aside %}
<strong>The limitless world of beer means a dizzying number of drink options are available at any given bar. From classic lagers to bold IPAs to funky sour ales, each type of beer spawns more sub-categories than drinkers know what to do with. Draft beer menus at local watering holes have gone from offering a few standard brands to listing beverages that seem to come out of nowhere — and each beer tastes more complex than the last. Knowing what certain styles of beer taste and look like can make narrowing down a favorite a lot easier.</strong>
{% endblock %}