<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/main.js' %}" async defer></script>
{% endblock %}

{% block container %}
    {% for i in response  %}
    <strong>Id</strong>
    {{ i.id }}
    <br>
    <strong>Name</strong>
    {{ i.name }}
    <br>
    <strong>Style</strong>
    {{ i.tagline }}
    <br>
    <strong>Description</strong>
    {{ i.description }}
    {% endfor %}
{% endblock %}

{% block aside %}
    <h3>Comes from home.html Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur cum eligendi harum ipsa, ipsam porro reprehenderit totam veniam voluptatibus.</h3>
{% endblock %}