<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/main.js' %}" async defer></script>
{% endblock %}

{% block container %}
    {% for i in response  %}
    <strong>Id</strong>
    {{ i.id }}
    <br>
    <strong>Name</strong>
    {{ i.name }}
    <br>
    <strong>Style</strong>
    {{ i.tagline }}
    <br>
    <strong>Description</strong>
    {{ i.description }}
    <br>
    <br>
    {% endfor %}
{% endblock %}

{% block aside %}
{% for i in response %}
    <img src="{{ i.image_url }}" class="img-fluid" alt="Responsive image">
<br>
<br>
<br>
<br>
<br>
<br>
{% endfor %}
{% endblock %}