<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Punk API</title>
</head>
<body>

</body>
</html>

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'scripts/main.js' %}" async defer></script>
{% endblock %}

{% block container %}
    <h2>Beer Specification</h2>
    <br>
    {% for i in response  %}
    <strong>Name: </strong>
    {{ i.name }}
    <br>
    <strong>Style: </strong>
    {{ i.tagline }}
    <br>
    <strong>First Brewed in: </strong>
    {{ i.first_brewed }}
    <br>
    <strong>Description: </strong>
    {{ i.description }}
    <br>
    <strong>Food pairing: </strong>
        {% for v in i.food_pairing %}
            {{ v }},
        {% endfor %}
    <br>
    <br>
    <table class="table">
      <caption>PARAMETERS</caption>
      <thead>
        <tr>
          <th scope="col">ABV</th>
          <th scope="col">IBU</th>
          <th scope="col">EBC</th>
          <th scope="col">SRM</th>
          <th scope="col">PH</th>
          <th scope="col">Attenuation level</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ i.abv }}</td>
          <td>{{ i.ibu }}</td>
          <td>{{ i.ebc }}</td>
          <td>{{ i.srm }}</td>
          <td>{{ i.ph }}</td>
          <td>{{ i.attenuation_level }} %</td>
        </tr>
      </tbody>
    </table>
    <br>

    <h2>Brewing</h2>
    <br>
    <strong>Brewers tips: </strong>
    {{ i.brewers_tips }}
    <br>
    <br>
    <br>
    <h4>Ingredients: </h4>
    <strong>Malt: </strong>
    <br>
        {% for v in i.ingredients.malt %}
            {{ v.name }}:
            {{ v.amount.value }}
            {{ v.amount.unit }}.
            <hr>
        {% endfor %}
    <br>
    <strong>Hops: </strong>
    <br>
        {% for v in i.ingredients.hops %}
            {{ v.name }}:
            {{ v.amount.value }}
            {{ v.amount.unit }},
            {{ v.add }},
            {{ v.attribute }}.
            <hr>
        {% endfor %}
    <strong>Yeast: </strong>
    <br>
    {{ i.ingredients.yeast }}
    <br>
    <br>
    <strong>Beer volume: </strong>
    <br>
    {{ i.volume.value }}
    {{ i.volume.unit }}
    <br>
    <br>
    <strong>Water boil volume: </strong>
    <br>
    {{ i.boil_volume.value }}
    {{ i.boil_volume.unit }}
    <br>
    <br>
    <strong>Method: </strong>
    <br>
        {% for v in i.method.mash_temp %}
            {{ v.temp.value }}
            {{ v.temp.unit }} <br>
            Duration:
            {{ v.duration }} min
            <hr>
        {% endfor %}
    <strong>Fermentation: </strong>
    <br>
    {{ i.method.fermentation.temp.value }}
    {{ i.method.fermentation.temp.unit }} <br>
    Duration: min 21 days
    <br>
    <br>
    {% endfor %}
{% endblock %}

{% block aside %}
{% for i in response %}
    <img src="{{ i.image_url }}" class="img-fluid" alt="Responsive image">
{% endfor %}
{% endblock %}